<% @page_title = "Profile" %>

<div class="form-column profile">
    <h1>Profile</h1>
    <div class="tag-edits photo-form">
        <div class="formData"><p class="formLabel">user name</p><%= @current_user.user_name %></div>
        <div class="formData"><p class="formLabel">first name</p><%= @current_user.first_name %></div>
        <div class="formData"><p class="formLabel">last name</p><%= @current_user.last_name %></div>
    </div>
</div>
