<% if @photo %>
    <div class="photo-column"><%= image_tag @photo.source,  class: "current-photo", alt: @photo.title %></div>
<% else %>
    <div class="photo-column">No photos in the collection yet... Load some!</div>
<% end %>
