<!-- ======= ======= ======= photo column ======= ======= =======   -->
<div class="column column-12 grid-column">

<% if @photos.length > 0 %>
    <div id="photo-grid">
        <% @photos.each do |photo| %>
            <div class="grid-item"><%= image_tag photo.source, alt: photo.title %></div>
        <% end %>
    </div>
<% end %>

</div>
