/*
* manifest file to be compiled into application.css
* includes all the files listed below.
* reference from here using relative path.
*
*= require_tree .
*= require_self
*/

$colorGenre: #2A52BE; // Cerulean Blue
$colorGroup: #bada55; // Jesse Green
$colorCategory: Salmon;

/* ======= general ======= */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: "Ariel", sans-serif;
}
h1 {
    padding-left: 10px;
}

/* ======= rows & columns ======= */
.row, .column {
    box-sizing: border-box;
}
.row {
    overflow: visible;
    /*border: 1px solid rebeccapurple;*/
}
.column {
    float: left;
    /*border: 1px solid Tomato;*/
}
.column:before {
    /*content: "\00a0";*/
}

/* ======= columns ======= */
.column-1 { width: 8.333%; }
.column-2 { width: 16.66%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33%; }
.column-5 { width: 41.66%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33%; }
.column-8 { width: 66.66%; }
.column-9 { width: 75%; }
.column-10 { width: 83.33%; }
.column-11 { width: 91.66%; }
.column-12 { width: 100%; }

/* ======= master rows ======= */
.header {
    width: 90%;
    margin: 0 auto;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
}
.footer {
    width: 90%;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-family: "Ariel", sans-serif;
}

/* ======= master columns ======= */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 500px;
    /*min-width: 90px;*/
    /*background-color: oldlace;*/
}
.display {
    max-width: 1200px;
}

/* ======= header content ======= */
.logo {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    font-family: 'Special Elite', cursive;
}



/* ======= ======= ======= sidebar rows ======= ======= ======= */
/* ======= ======= ======= sidebar rows ======= ======= ======= */
/* ======= ======= ======= sidebar rows ======= ======= ======= */



.side-text {
    display: block;
    text-align: center;
    font-weight: bold;
    width: 100%;
    background-color: oldlace;
}
#home-link {
    height: 40px;
    line-height: 16px;
}
#spacer {
    margin-top: 10px;
    height: 70px;
}
#user-name {
    height: 40px;
}
#photo-title {
    height: 40px;
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Special Elite', cursive;
}
#info-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    /*width: 120px;*/
    margin-top: 5px;
    background-color: oldlace;
}
.info-label {
    margin-left: 5px;
    margin-top: 5px;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: black;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.info-text {
    margin-left: 15px;
    margin-top: -5px;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: blue;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#notice {
    height: 100%;
    margin: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* ======= ======= ======= display rows ======= ======= ======= */
/* ======= ======= ======= display rows ======= ======= ======= */
/* ======= ======= ======= display rows ======= ======= ======= */



.navbar {
    width: 100%;
    height: 40px;
}
.info {
    width: 100%;
    height: 60px;
    margin: 10px 0;
}
#dynamic-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}
.caption {
    width: 100%;
    height: 60px;
}



/* ======= ======= ======= nav content ======= ======= ======= */
/* ======= ======= ======= nav content ======= ======= ======= */
/* ======= ======= ======= nav content ======= ======= ======= */



#main-nav, #side-nav, #photo-edit, #tag-nav {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9;
}
#side-nav {
    height: 40px;
}
#tag-nav {
    height: 20px;
}
#side-nav.bordered, #photo-edit.bordered {
    border: 1px solid black;
}
.usernav {
    border: 1px solid black;
}
.photosnav {
    border: 1px solid red;
}
.selectnav {
    border: 1px solid blue;
}
.navspacer {
    width: 2%;
    height: 100%;
}
#main-nav ul, #side-nav ul, #photo-edit ul, #tag-nav ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
#photo-edit ul  {
    float: none;
    height: 100%;
}
#main-nav ul a, #side-nav ul a, #photo-edit ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    padding: 0 15px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}
#tag-nav ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}
#tag-nav ul a.checked {
    background-color: darkslategray;
    color: white;
}
#photo-edit ul a, #tag-nav ul a  {
    text-align: center;
}
#main-nav ul li, #tag-nav ul li {
    position: relative;
    float: left;
    padding: 0;
}
#tag-nav ul li {
    margin-top: 5px;
}
#main-nav ul li.current-menu-item {
    background-color: #ddd;
}
#main-nav ul li:hover, #side-nav ul li:hover, #photo-edit ul li:hover {
    background: #ddd;
    box-shadow: 4px 4px 4px #888888;
}
#main-nav ul li:hover {
/*#main-nav ul li:last-child:hover {*/
    /*border-radius: 2px;*/
    /*box-shadow:inset 0px 0px 0px 4px gray, 4px 4px 4px #888888;*/
    box-shadow: 4px 4px 4px #888888;
}
#tag-nav ul li.form-tag:hover {
    background: tomato;
}
#main-nav ul li.toggled:hover {
    background: white;
}
#main-nav ul ul {
    display: none;
    position: absolute;
    width: 100px;
    left: 0;
    background: #fff;
    padding: 0;
    border: 1px solid gray;
}
#main-nav ul ul li {
    float: none;
    width: 100%;
}
#main-nav ul ul li a.action {
    color: red;
}
#main-nav ul ul a {
    width: 100%;
    text-align: center;
    line-height: 120%;
    padding: 10px 0 10px 0;
}
#main-nav ul li #user-name {
    width: 100%;
    text-align: center;
    padding: 0;
    font-size: 16px;
}
#main-nav ul li:hover ul{
    display: block;
}
#main-nav ul li a.toggled {
    color: #eee;
}

 /* ======= main-nav details ======= */
.nav-link#
 {
    color: gray;
}
#main-nav ul #title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
}
#main-nav ul #title-text {
    background: white;
}

 /* ======= info content ======= */
.info-tag-row {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 20px;
    margin: 0;
    padding-left: 10px;
    text-align: right;
    line-height: 15px;
    color: blue;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.selection-title {
    float: left;
    width: 15%;
    height: 100%;
    margin-right: 10px;
    margin-left: -10px;
    padding-right: 30px;
    padding-left: 20px;
    text-align: right;
    font-weight: 700;
    font-size: 12px;
    color: black;
}
.selection-text {
    width: 50%;
    margin-top: 2px;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}
.genre {
    background-color: lightyellow;
}
.group {
    background-color: lemonchiffon;
}
.tag {
    background-color: beige;
}



/* ======= ======= ======= dynamic-content ======= ======= ======= */
/* ======= ======= ======= dynamic-content ======= ======= ======= */
/* ======= ======= ======= dynamic-content ======= ======= ======= */



/* ======= display details ======= */
.photo-column {
    float: left;
    margin-left: 4%;
    margin-top: 2%;
    min-width: 400px;
    order: 1;
    font-family: "Ariel", sans-serif;
}
.data-column {
    float: left;
    margin-left: 4%;
    margin-top: 0;
    min-width: 400px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    order: 2;
    font-family: "Ariel", sans-serif;
}
.new_photo {
    margin-left: 4%;
}

/* ======= photos column ======= */
.current-photo {
    /*float: left;*/
    display: block;
    max-width: 400px;
    max-height: 300px;
    margin: 0;
    background-color: #eee;
    border: 1px solid black;
}
.form-column {
    margin-left: 4%;
    margin-top: 2%;
    width: 400px;
    height: 300px;
    font-family: "Ariel", sans-serif;
    border: 1px solid black;
}

/* ======= data column ======= */
.tag-edits {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    float: left;
    width: 100%;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.tag-edits .genre {
    order: 2;
}
.tag-edits .genre {
    order: 3;
}
.tag-edits .genre {
    order: 4;
}
.tag-title {
    margin: 18px 20px 0 10px;
    float: left;
    width: 30px;
    height: 30px;
    text-align: left;
    font-weight:700;
    font-size: 14px;
    line-height: 12px;
    vertical-align: bottom;
}
.tag-list {
    margin-left: 0;
    padding: 0;
}
label {
    color: indigo;
}

/* ======= thumbnail grid ======= */
.grid-column {
    min-width: 420px;
    font-family: "Ariel", sans-serif;
}
#photo-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0 0 10px;
}
.grid-item {
    float: left;
}
.photo-title {
    height: 14px;
    margin: -5px 0 -5px 15px;
    text-align: left;
    font-weight:700;
    font-size: 12px;
    line-height: 12px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.thumbnail {
    margin: 5px;
    border: 10px solid white;
    z-index: 1;
}
.thumbnail:hover {
    border-radius: 2px;
    border: 10px solid tomato;
    box-shadow: 4px 4px 4px #888888;
    z-index: 9;
}
.photo-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 320px;
    max-width: 100%;
    order: 1;
    background-color: oldlace;
}
.formLabel {
    height: 14px;
    margin: 10px 0 0 0;
    text-align: left;
    font-weight:700;
    font-size: 12px;
    line-height: 12px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.formData {
    margin: 0 0 0 10px;
}

/* ======= caption text ======= */
.caption {
    display: block;
    margin-left: 0;
    margin-top: 2%;
    width: 95%;
    text-align: left;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* ======= caption text ======= */
.cat-select {
    display: inline-block;
    list-style: none;
    position: relative;
    float: left;
    height: 20px;
    margin: 5px;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.category-label {
    display: inline-block;
    list-style: none;
    position: relative;
    float: left;
    height: 20px;
    width: 85px;
    margin: 5px;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* ======= media queries ======= */
@media screen and (min-width: 1000px) {
    body {
        /*background-color: lightgreen;*/
    }
    /*#dynamic-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 10px;
        height: 320px;
    }
    .data-column {
        margin-top: 2%;
        max-width: 380px;
    }*/
    /*.tag-edits {
        max-width: 320px;
    }*/
}
